---
export interface Props {
  className: string
}

const { className } = Astro.props
---

<a id="Logo" class="whitespace-nowrap text-3xl lg:text-3xl 2xl:text-5xl font-semibold z-50 text-main mx-auto lg:ml-10 hover:cursor-pointer w-fit lg:mr-0" href="https://siravijbb.me">Siravij</a>